@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'swap', 'roboto', 'sans-serif';
    
}

.principal_1 {
    height: 50vh;
    background: linear-gradient(140deg, #e9f109f3, #0c9e1fd8);
    display: flex;
    align-items:center;
    justify-content: center;
}

.relogio1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 600px;
    background: transparent;
    border-radius: 18px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, .9);
}

.relogio1 div {
    height: 170px; /* Altura dos quadradinhos*/
    width: 150px;  /* Largura dos quadradinhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(37, 36, 36, 0.5);
    box-shadow: 5px, 5px, 15px, rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 2px;
}

.relogio1 span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio1 span.tempo {
    font-size: 15px;
    font-family: 'roboto';

}





.principal_1 h2{
    font-family: 'roboto';
    font-size: 30px;
        
}

.relogio2, .relogio1 h3{
    color: #fff;
    font-size: 60px;
}

.principal_2 h2{
    color: #fff;
    font-family: 'roboto';
    font-size: 30px;
}





.principal_2 {
    height: 50vh;
    background:#000;
    display: flex;
    align-items:center;
    justify-content: center;
}

.relogio2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 690px;
    background: transparent;
    border-radius: 18px;
    box-shadow: 0px 7px 12px rgba(228, 218, 218, .9);
}

.relogio2 div {
    height: 110px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(37, 36, 36, 0.5);
    box-shadow: 5px, 5px, 15px, rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 2px;
}

.relogio2 span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio2 span.tempo {
    font-size: 15px;
    font-family: 'roboto';

} /**/